
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

DEFAULT_PREFIX=!
DEFAULT_LANGUAGE=tr
BOT_NAME=Frieren


DATABASE_URL="file:./dev.db"

BASE_URL=http://locahost:9931
PORT=9931

AUTH_SECRET=""


BOT_API_PORT=4917
JWT_SECRET=""

